<% pending_arr = Friendship.pending(@user.id)
pending_friends = pending_arr.map do |pending|
  User.find(pending.sender_id)
end
%>
<div>
  <h1><%= @user.email %></h1>
  <% unless @friends.include?(@user) || pending_friends.include?(current_user) %>
    <%= button_to "Send Friend Request", send_friend_request_path(receiver_id: @user.id), method: :post %>
  <% end %>
</div>












